<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Progrmacion Visual</title>
		<link rel="stylesheet" href="../static/CSS/estilo.css">
	</head>
	<body>
	<main class="cuerpo">
		
		<div class="navbar">
				        <div class="logo">
				            <img src="../static/sts.png" alt="St"
				            class="logo-img">
				            <h2 class="logonombre">Programacion Visual</h2>
				        </div>
				            <div class="menu">
				                <ul class="ul">
									<li><a class="link" href="form-cliente.html"> Formulario</a></li>
									<li><a class="link" href="https://virtual.unju.edu.ar/course/view.php?id=2540&section=1#tabs-tree-start"> Semana uno de programacion visual</a></li>
									<li><a class="link" href="https://virtual.unju.edu.ar/course/view.php?id=2540&section=2#tabs-tree-start"> Semana dos de programacion visual</a></li>
									<li><a class="link" href="https://virtual.unju.edu.ar/course/view.php?id=2540&section=3#tabs-tree-start"> Semana tres de programacion visual</a></li>
				                </ul>
				            </div>
		</div>
		<header 		id="header">		
					<h1 class="tituloprincipal">PROGRAMACION VISUAL</h1>
		</header>
		<main>	
					
					<section class="section">
						<h2 class="titulos">Semana 1</h2>
						<h3 class="Subtitulos">En esta seccion se describira un poco de lo que se vio en la primera semana de programacion visual</h3>
						<p>Algunos de los conceptos que se vieron fueron:</p>
						<ul class="ul">
							<li>Introducion a java</li>
							<li>Programacion en java</li>
							<li>Instalar el Spring tool suit</li>
						</ul>
						<table classe="table">
							<tr>
								<td>La plataforma java</td>
		
								<td>El lenguaje de programacion de java</td>
		
								<td>Caracterisiticas de java</td>
							</tr>
						</table>
					</section>
					
					<section>
									<h2	class="titulos" >Semana 2</h2>
									<h3 class="Subtitulos">En esta seccion se describira un poco de lo que se vio en la segunda semana de programacion visual</h3>
									<p>Algunos de los conceptos que se vieron fueron:</p>
									<ul>
										<li>Sobrecarga - Excepciones</li>
										<li>Conversión de tipos de datos</li>
										<li>Fechas en Java</li>
									</ul>
									<table>
										<tr>
											<th>Sobrecarga - Excepciones</th>
											<th>Conversion de tipos de datos</th>
											<th>Fechas en Java</th>
										</tr>
										<tr>
											<td>Tratar errores</td>
					
											<td>Tipos de datos</td>
					
											<td>Fechas en java</td>
										</tr>
										
										<tr>
											<td>Excepciones</td>
											<td>Wrapper</td>
											<td>Calendar</td>
										</tr>
									</table>
								</section>
					
								<section>
												<h2	class="titulos"								>Semana 3</h2									>
												<h3 class="Subtitulos">En esta seccion se describira un poco de lo que se vio en la tercera semana de progrmacion visual</h3>
												<p>Algunos de los temas fueron: </p>
												<ul calss="ul">
													<li>Matrices</li>
													<li>Interfaces</li>
													<li>Arraylist</li>					
												</ul>
												<table>
													<tr>
														<th>Matrices</th>
														<th>Interfaces</th>
														<th>Arraylist</th>
													</tr>
													
													<tr>
														<td>Agrupar datos</td>
														
														<td>Abstraccion</td>
														
														<td>Dinamicidad</td>
													</tr>
												</table>
											</section>
					
				</main>
				
				<aside class="aside">
					<a class="adicional" href="https://virtual.unju.edu.ar/">Pagina principal de la UNJU virtual</a>
					<img class="imagen"src="../static/hold-up-let-him-cook.png">
				</aside>
	</main>
	</body>
	<footer id="footer">
		<p>Nacional de Jujuy - UNJu</p> 
		<p>Subsecretaría de EaD - Coordinación UNJu Virtual</p>
		<p>Avda. Bolivia N° 1685 B° Los Huaicos</p>
		<p>San Salvador de Jujuy, Jujuy - Argentina/p>
		<p>WhatsApp: 3884708223</p>
		<p>Correo oficial: virtual@unju.edu.ar</p>
		<p>Correo secundario: cursos@unju.edu.ar</p>
	</footer>
</html>